<div class="message-wrapper <%= message.role %>">
  <% if message.role == "assistant" %>
    <div class="avatar-ai">🐎</div>
  <% end %>

  <div class="bubble <%= message.role %>">
    <%= simple_format(message.content) %>
  </div>
</div>
